<configuration>
    <appender name="SocketLogger" class="me.sunstorm.showmanager.modules.http.WebSocketLogger">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread/%level]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="AsyncSocketLogger" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SocketLogger"/>
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread/%level]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%thread/%level]: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="me.sunstorm.showmanager" level="info">
        <appender-ref ref="AsyncSocketLogger"/>
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>
