name: Build webapp

on:
  push:
    branches: [ 'master', 'renovate/**' ]
    paths: [ 'webapp/**' ]
  pull_request:
    branches: [ 'master', 'renovate/**' ]
    paths: [ 'webapp/**' ]

defaults:
  run:
    working-directory: ./webapp

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.28.2

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: pnpm
          cache-dependency-path: './webapp/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run build
        run: pnpm run build